---
layout: default
title: About
section_id: about

value_left:
  - icon: far fa-lightbulb
    title: Ideal 1
    desc: We empower students to be responsible for their own education and go beyond what they think is possible.
  - icon: fas fa-user-circle
    title: Ideal 3
    desc: We put people in the center of everything.
  - icon: fas fa-hammer
    title: Ideal 5
    desc: We encourage teams to learn by doing and stop overthinking!

value_right:
  - icon: fas fa-exchange-alt
    title: Ideal 2
    desc: We go for real impact.
  - icon: fas fa-hands
    title: Ideal 4
    desc: We are passionated about our work.
  - icon: far fa-grin-tongue-wink
    title: Ideal 6
    desc: We believe having fun is key to unleash creativity and drive innovation.

works:
  - image: images/@room/Room_5.1.jpg
    title:
    link_to:
    klass:
    desc:
  - image: images/@room/Room_5.2.jpg
    title:
    link_to:
    klass:
    desc:
  - image: images/@room/Room_5.3.jpg
    title:
    link_to:
    klass:
    desc:

---


<div class='full parallax' style='background-image: url(images/@header/About_1.1.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="What we are all about" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>

        <h3>What drives us?</h3>
        <p>At inno.space, we work with partners from large corporate organisations and small and medium enterprises to develop projects that address real-world challenges.
            We support various educational concepts that foster complex problem-solving, innovation and entrepreneurship. Our goal is to unleash the creative potential of our students and educate them to become creative future-makers as well as leaders in entrepreneurial settings and to be well prepared for the responsibilities and challenges in their professional life which we cannot foresee today.<br/><br/>
            Together, we build the future!
        </p>
      </div>
  </div>
     <div class='row'>
    <div class='medium-12 columns'>
        <h3>What do we do?</h3>
        <p>Our educational programs focus on passion-based learning & learning by doing. They offer the possibility to work in international and multidisciplinary teams, mixing engineering, design, business, computer science and more. Students from HS Mannheim from all faculties work on innovation challenges proposed by national and international business partners. Students undergo an intensive and iterative process to create and develop new product or service ideas, materialized into proof of concept prototypes. Projects come from large and small companies, and from a variety of industries including consumer electronics, automotive, telecommunications, healthcare, aeronautics, software, household products, transportation, and government.<br/><br/>
          For the companies this is a low risk opportunity to get introduced to the innovation approach in the business context of their own company, to identify new business opportunities and to get introduced to a systematic way to bring innovation into their company. The methodology we apply in our programs is, in general, strongly inspired by the Stanford Design Innovation Process.
        </p>
      </div>
  </div>

  <div class='row'>
    <div class='medium-12 columns'>
      <h3>How did we get here?</h3>
      <a href="{{site.baseurl}}/images/timeline.svg" class="gray lightbox-image" title="Timeline"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/timeline.svg" /></a>

          <div class='two spacing'></div>

      </div>

  </div>
</div>


<div class='full' style="background: #f5f5f5;">
    <div class='row'>
    <div class='medium-12 columns'>
      <h2>Our Ideals</h2>
        </div>
    </div>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for value in page.value_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple' style="min-height:140px">
            <i class='{{value.icon}}'></i>
            <h3>{{value.title}}</h3>
            <p>{{value.desc}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for value in page.value_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple' style="min-height:140px">
            <i class='{{value.icon}}'></i>
            <h3>{{value.title}}</h3>
            <p>{{value.desc}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full'>
    <div class='row'>
        <div class='medium-12 columns'>
            <h2>Our Process</h2>
            <h3>How do we do it?</h3>
        </div>
    </div>
    <div class='row'>
        <div class='medium-6 columns'>
          <a href="{{site.baseurl}}/images/process.jpg" class="gray lightbox-image" title="Process"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/process.jpg" /></a>

            <div class='three spacing'></div>
        </div>
        <div class='medium-6 columns'>
            <p>With the increasing technical possibilities and the growing competition of globally operating companies, the importance of innovation also grows in order to stay in the game. Design Thinking is a promising approach to be in the front line of innovation. This method can be applied to design products, services and processes. It is based on collaborative creativity in multidisciplinary teams and has its core in the user and continuous iteration. This means that process is driven by the people, real humans with pains and needs.<br/><br/>
              Teams go through several stages of the process: user and market reasearch, ideation, prototyping and testing and have the freedom to adapt these phases to better suit their challenge. By building and learning from people's needs as well as testing with real users, the concepts represent a holistic integration of the three main pillars for sustainable innovation, desirability, viability and feasability.</p>
            <div class='three spacing'></div>
        </div>
        <div class='two spacing'></div>


    </div>
</div>


<div class='full' style="background: #f5f5f5;">
    <div class="row">
        <div class='medium-12 columns'>
            <h2>Our Teaching Team</h2>
        </div>
    </div>
    <div class='row'>

        {% for member in site.data.members %}
        <div class='small-6 end medium-3 large-3 columns'>
            <div class='mod modTeamMember'>
                <div class='member'>
                    <img class="avatar" alt="" src="{{ member.avatar }}" />
                    <div class='overlay'>
                        <div class='intro'>
                            <h3>{{member.name}}</h3>
                            <p>{{member.position}}</p>
                            <ul class='socials'>
                                {% for social in member.socials %}
                                <li>
                                    <a href='{{social.link}}'>
                        <i class='{{social.icon}}'></i>
                      </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='four spacing'></div>
        </div>
        {% endfor %}
    </div>
</div>

<div class='full'>
    <div class='row'>
        <div class='medium-12 columns'>
             <h2>Our Space</h2>
        </div>
    </div>
    <div class='row'>
        <div class='medium-6 columns'>

            <h3>Equipment</h3>
            <p>Appliances</p>
            <ul style="padding-left: 30px">
                <li>Laser Cutter Epilog Helix 60W</li>
                <li>3D-Printer Ultimaker 2 extended+</li>

            </ul>
            <p>Prototyping</p>
            <ul style="padding-left: 30px">
                <li>Craft stuff</li>
                <li>Different kinds of material like wood or acrylic plates</li>
                <li>Tools like drill, hammer, screwdrivers</li>
                <li>Electronic parts</li>
                <li>Soldering iron</li>

            </ul>
            <p>Furniture</p>
            <ul style="padding-left: 30px">
                <li>Prototyping Wagen</li>
                <li>Workbench</li>

            </ul>
            <p>Kitchen</p>
            <ul style="padding-left: 30px">
                <li>Fridge</li>
                <li>Microwave</li>
            </ul>


            <div class='two spacing'></div>
        </div>

        <div class='medium-6 columns'>
                 {% include image-gallery.html folder="/images/@room" %}

        </div>
    </div>

    <div class='spacing'></div>
</div>
