---
layout: default
title: About
section_id: about

value_left:
  - icon: far fa-lightbulb
    title: Empowerment
    desc: We empower students to be responsible for their own education and go beyond what they think is possible.
  - icon: fas fa-user-circle
    title: People
    desc: We put people in the center of everything.
  - icon: fas fa-hammer
    title: Hands on
    desc: We encourage teams to learn by doing and stop overthinking!

value_right:
  - icon: fas fa-exchange-alt
    title: Impact
    desc: We go for real impact.
  - icon: fas fa-hands
    title: Passion
    desc: We are passionated about our work.
  - icon: far fa-grin-tongue-wink
    title: Fun
    desc: We believe having fun is key to unleash creativity and drive innovation.

works:
  - image: images/@room/Room_5.1.jpg
    title:
    link_to:
    klass:
    desc:
  - image: images/@room/Room_5.2.jpg
    title:
    link_to:
    klass:
    desc:
  - image: images/@room/Room_5.3.jpg
    title:
    link_to:
    klass:
    desc:
# -- For the panorama viewer --
custom_css: pannellum
custom_js: pannellum
rooms:
  entrance:
    text: Entrance into inno.space
    image: inno_entrance.jpg
    start: 130
    connections:
      -
        horizontal: 100
        linksTo: teamsarea
      -
        horizontal: -170
        linksTo: workarea
      -
        horizontal: -55
        linksTo: hallway
      -
        horizontal: 165
        linksTo: office
  teamsarea:
    text: Area for input sessions and teamwork
    image: teams_area.jpg
    start: -20
    connections:
    - 
      horizontal: -48
      linksTo: entrance
  workarea:
    text: Area for prototyping
    image: work_area.jpg
    start: 50
    connections:
    - 
      horizontal: -30
      linksTo: entrance
    - 
      horizontal: 10
      linksTo: teamsarea
    - 
      horizontal: 80
      linksTo: office
  office:
    text: T-Team office
    image: office.jpg
    start: -40
    connections:
    - 
      horizontal: 150
      linksTo: workarea
  hallway:
    text: Hallway of building K
    image: hallway.jpg
    start: 0
    connections:
    - 
      horizontal: 0
      linksTo: makerspace
    - 
      horizontal: -140
      linksTo: entrance
  makerspace:
    text: Entrance to maker.space
    image: maker_entrance.jpg
    start: -170
    connections:
    - 
      horizontal: 30
      linksTo: hallway
    - 
      horizontal: 180
      linksTo: sewingcorner
    - 
      horizontal: 150
      linksTo: workbenches
    - 
      horizontal: -140
      linksTo: 3dprinters
  sewingcorner:
    text: Sewing machines, heat press, plotter and lasercutter
    image: sewing_corner.jpg
    start: -170
    connections:
    - 
      horizontal: 100
      linksTo: workbenches
    - 
      horizontal: 42
      linksTo: makerspace
    - 
      horizontal: 5
      linksTo: 3dprinters
    pointsOfInterest:
    -
      horizontal: 172
      vertical: -15
      text: Epilog Helix Lasercutter & Engraver
      link: https://www.epiloglaser.com/laser-machines/legacy-systems/mini-18-24-helix-24/
    -
      horizontal: -164
      vertical: -15
      text: ROLAND CGS-24 Vinyl Plotter
      link: https://www.rolanddg.eu/de/products/vinyl-cutters/camm-1-gs-24-desktop-vinyl-cutter/features
    -
      horizontal: -152
      vertical: -27
      text: STAHL'S Clam Basic Heat Press
      link: https://stahlseurope.de/transferpressen/clam-basic-family/
    -
      horizontal: -72
      vertical: -30
      text: JUKI MO-735N Overlock Machine
      link: https://www.juki.co.jp/household_en/products/list/lock/mo735N.html
    -
      horizontal: -13
      vertical: -30
      text: JUKI TL-2300 Sewing Machine
      link: https://www.juki.co.jp/household_en/products/list/semipro.html
    -
      horizontal: -50
      vertical: -23
      text: BROTHER INNOV-IS F 480 Sewing Machine
      link: https://support.brother.com/g/b/manualtop.aspx?c=de&lang=de&prod=hf_inovf480euk

  3dprinters:
    text: 3D printers, soldering and electronics
    image: 3d_printers.jpg
    start: -10
    connections:
    - 
      horizontal: 120
      linksTo: workbenches
    - 
      horizontal: 55
      linksTo: makerspace
    - 
      horizontal: 160
      linksTo: sewingcorner
    pointsOfInterest:
    -
      horizontal: -58
      vertical: -15
      text: Ultimaker² Extended 3D printer
      link: https://ultimaker.com/3d-printers/ultimaker-2-plus
    -
      horizontal: -43
      vertical: -7
      text: Ultimaker S5 3D printer
      link: https://ultimaker.com/3d-printers/s-series/
    -
      horizontal: -9
      vertical: -22
      text: 2X BAMBU LAB X1E 3D printers
      link: https://bambulab.com/en/x1e
    -
      horizontal: 25
      vertical: -12
      text: FORMLABS 3B+ 3D printer
      link: https://formlabs.com/3d-printers/form-3b/
  workbenches:
    text: Workbenches, saws, drills
    image: workbenches.jpg
    start: -100
    connections:
    - 
      horizontal: 110
      linksTo: makerspace
    - 
      horizontal: 70
      linksTo: 3dprinters
    - 
      horizontal: 0
      linksTo: sewingcorner
    pointsOfInterest:
    -
      horizontal: 175
      vertical: -10
      text: ISEL ICP 4030 CNC Table Mill
      link: https://www.isel.com/en/products/icp-4030p?srsltid=AfmBOoqznQ3ooSVzSKij8I80K3gbcQGHY4nuIYeqscL8CT4eoFwp-X9g
    -
      horizontal: -150
      vertical: -10
      text: OPTIdrill D 17Pro Drill
      link: https://www.stuermer-maschinen.de/holzbearbeitung/metallbearbeitungsmaschinen-bohrmaschinen/optidrill-d-17pro-3003010/
    -
      horizontal: -77
      vertical: -28
      text: Hegner Multicut Scroll Saw
      link: https://www.hegner-gmbh.com/index.cfm?contentid=21

---

<div class='full parallax' style='background-image: url(images/@header/About_1.1.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="What we are all about" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- Slogan -->
<div class="full parallax" style="text-align: center;background-image: url(images/slogan.jpg); color: #fff;">
  <div class="spacing"></div>
  <div class="row">
    <div class="large-12">
      <p class="slogan">Our goal is to unleash the creative potential of our students by educating them to be inventive
        future-makers and prepare them for the responsibilities and unforeseeable challenges of their professional
        lives.
      </p>
    </div>
  </div>
  <div class="three spacing"></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>

      <h2>What we do</h2>
      <p>At inno.space we support various educational concepts that foster complex problem-solving, passion-based
        learning and learning by doing.<br />Students undergo an intensive and iterative process in international and
        multi-disciplinary teams to create and develop new product or service ideas to solve a given challenge. The
        challenges proposed come from large corporate organizations and small and medium enterprises and address
        real-world problems.<br /><br />
        Together, we build the future!</p>
      </p>
    </div>

    <div class='two spacing'></div>
  </div>
  <br>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>How did we get here?</h3>
      <a href="{{site.baseurl}}/images/timeline-2026.png" class="gray lightbox-image" title="Timeline"><img
          class="fadeinleft" alt="" src="{{site.baseurl}}/images/timeline-2026.png" /></a>

      <div class='two spacing'></div>

    </div>

  </div>
</div>


<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Our Values</h2>
      <br><br>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for value in page.value_left %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple' style="min-height:140px">
          <i class='{{value.icon}}'></i>
          <h3>{{value.title}}</h3>
          <p>{{value.desc}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for value in page.value_right %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple' style="min-height:140px">
          <i class='{{value.icon}}'></i>
          <h3>{{value.title}}</h3>
          <p>{{value.desc}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class='five spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Our Process</h2>
      <!-- <h3>How do we do it?</h3> -->
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='medium-6 columns'>
      <a href="{{site.baseurl}}/images/process.jpg" class="gray lightbox-image" title="Process"><img class="fadeinleft"
          alt="" src="{{site.baseurl}}/images/process.jpg" /></a>

      <div class='four spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <br>
      <p>With the increasing technical possibilities and the growing competition of globally operating companies, the
        importance of innovation also grows in order to stay in the game. Design Thinking is a promising approach to be
        in the front line of innovation. This method can be applied to design products, services and processes. It is
        based on collaborative creativity in multidisciplinary teams and has its core in the user and continuous
        iteration. This means that process is driven by the people, real humans with pains and needs.<br /><br />
        Teams go through several stages of the process: user and market reasearch, ideation, prototyping and testing and
        have the freedom to adapt these phases to better suit their challenge. By building and learning from people's
        needs as well as testing with real users, the concepts represent a holistic integration of the three main
        pillars for sustainable innovation, desirability, viability and feasability.</p>
      <div class='three spacing'></div>
    </div>
    <div class='two spacing'></div>


  </div>
</div>

<div class='full' style="background: #f5f5f5;">
  <div class="row">
    <div class='medium-12 columns'>
      <h2>Our Teaching Team</h2>
    </div>
  </div>
  <br>

  <div class='row' style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; ">

    {% for member in site.data.members %}
    <div class='small-6 end medium-3 large-3 columns'>
      <div class='mod modTeamMember'>
        <div class='member'>
          <img class="avatar" alt="" src="{{ member.avatar }}" />
          <div class='overlay'>
            <div class='intro'>
              <h3>{{member.name}}</h3>
              <p>{{member.position}}</p>
              <ul class='socials'>
                {% for social in member.socials %}
                <li>
                  <a href='{{social.link}}'>
                    <i class='{{social.icon}}'></i>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    {% endfor %}
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Our Space</h2>
    </div>
  </div>

  <!-- Panorama -->
   <div class='row'>
    {% include panorama.html rooms=rooms%}
  </div>

  <div class='row'>
    <div class='medium-4 columns'>

      <h3>Equipment</h3>
      <p>Appliances</p>
      <ul style="padding-left: 30px">
        <li>Cutter Epilog Helix 60W Lasercutter & Engraver</li>
        <li>Ultimaker² Extended 3D printer</li>
        <li>Ultimaker S5 3D printer</li>
        <li>2X BAMBU LAB X1E 3D printers</li>
        <li>FORMLABS 3B+ 3D printer</li>
        <li>ROLAND CGS-24 Vinyl Plotter</li>
        <li>STAHL'S Clam Basic Heat Press</li>
        <li>JUKI MO-735N Overlock Machine</li>
        <li>JUKI TL-2300 Sewing Machine</li>
        <li>BROTHER INNOV-IS F 480 Sewing Machine</li>
        <li>ISEL ICP 4030 CNC Table Mill</li>
        <li>OPTIdrill D 17Pro Drill</li>
        <li>Hegner Multicut Scroll Saw</li>
      </ul>
      <p>Prototyping</p>
      <ul style="padding-left: 30px">
        <li>Crafting materials and art supplies</li>
        <li>Tools such as drill, hammers, screwdrivers</li>
        <li>Electronic parts</li>
        <li>Soldering iron</li>

      </ul>
      <!--  <p>Furniture</p>
            <ul style="padding-left: 30px">
                <li>Prototyping Wagen</li>
                <li>Workbench</li>

            </ul>
            <p>Kitchen</p>
            <ul style="padding-left: 30px">
                <li>Fridge</li>
                <li>Microwave</li>
            </ul> -->


      <div class='two spacing'></div>
    </div>

    <div class='medium-8 columns'>
      {% include image-gallery.html folder="/images/@room" %}

    </div>
  </div>

  <div class='spacing'></div>
</div>