---
layout: default
title: maker.space
section_id: makerspace
---

<div class='full parallax' style='background-image: url(images/@header/makerspace.png); color: #fff; '>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="maker.space" tagline="maker.space" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

  <div class='full'>
    <div class='row'>
      <div class='medium-8 columns'>
        <p>maker.space - the HMA's great all-round DIY workshop. </p>
          <p>The Makerspace of the Mannheim University of Applied Sciences is operated by inno.space. 
		  Students, staff and professors of all faculties are warmly welcome to bring their projects and ideas to life here 
		  and to make use of the wide range of equipment on offer. 
		  Further information, our mastering machinery courses which are mandatory for usage of some machines and more can be found in moodle at maker.space. 
        </p>
		        
        <div class='two spacing'></div>
      </div>
      <div class='medium-4 columns'>
        <div class='contact-details'>
          <h4>Hochschule Mannheim</h4>
          <p>inno.space in Gebäude K 020 (EG)</p>
          <p>Paul-Wittsack-Straße 10 </p>
          <p>68163 Mannheim </p>
          <h4>Opening hours:</h4>
          <p>Tuesday 1:30 pm<p>
		  <p>Friday 1:30 pm<p>
		  </p>
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>


<div class='full' style="background: #f5f5f5;">
    <div class="row">
        <div class='medium-12 columns'>
            <h2>Our machine Highlights</h2>
        </div>
    </div>
    <br>
    <div class='row'>

        {% for machine in site.data.machines %}
        <div class='small-6 end medium-3 large-3 columns'>
            <div class='mod modTeamMember'>
                <div class='member'>
                    <img class="avatar" alt="" src="{{ machine.avatar }}"  />
                    <div class='overlay'>
                        <div class='intro'>
                            <h3>{{machine.name}}</h3>
                            <p>{{machine.position}}</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='four spacing'></div>
        </div>
        {% endfor %}
    </div>
</div>

<div class='full'>
    <div class='row'>
        <div class='medium-12 columns'>
             <h2>The Room</h2>
        </div>
    </div>
    <div class='row'>
        <div class='medium-6 columns'>

            <h3>Wood and metal sector</h3>
            <ul style="padding-left: 30px">
                <li>Pedestal drilling machine</li>
                <li>Pedestal drilling machine</li>
				        <li>Pedestal drilling machine</li>
            </ul>

            <h3>Digital sector</h3>
            <ul style="padding-left: 30px">
                <li>Resin Printer</li>
                <li>3D-Printer Ultimaker 2 extended+</li>
				        <li>3D-Printer Ultimaker 5 </li>
            </ul>

            <h3>Textile sector</h3>
            <ul style="padding-left: 30px">
                <li>Vinyl Cutter</li>
                <li>Sewing machine</li>
				        <li>Sewing machine</li>
            </ul>

            <h3>Electronic sector</h3>
            <ul style="padding-left: 30px">
                <li>Osziloscope</li>
                <li>Soldering iron</li>
				        <li>Soldering iron</li>
            </ul>

            <h3>Other facilities</h3>
            <ul style="padding-left: 30px">
                <li>Lego bricks</li>
                <li>Prototyping material</li>
				        <li>Prototyping material</li>
            </ul>

          <!--  <p>Furniture</p>
            <ul style="padding-left: 30px">
                <li>Prototyping Wagen</li>
                <li>Workbench</li>

            </ul>
            <p>Kitchen</p>
            <ul style="padding-left: 30px">
                <li>Fridge</li>
                <li>Microwave</li>
            </ul> -->


            <div class='two spacing'></div>
        </div>

        <div class='medium-6 columns'>
                 {% include image-gallery.html folder="/images/@room" %}

        </div>
</div>-