---
layout: default
title: Offer
section_id: offer

services_left:
  - icon: fas fa-user-graduate
    title: Students
    desc: Our offer for students.
    link_to: students.html
  
services_right:
  - icon: fas fa-industry
    title: Industry
    desc: Our offer for industry.
    link_to: industry.html
 
---

<div class='full parallax' style='background-image: url(images/@header/dtp-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our offer" tagline="Get to know our offer" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
    <div class='four spacing'></div>
  <div class='row '>
    <div class='medium-6 columns '>
      {% for offer in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <a href='{{ offer.link_to }}'>
                <i class='{{offer.icon}}'></i>
                <h3>{{offer.title}}</h3>
                <p>{{offer.desc}}</p>
               </a>
          </div>
          <div class='four spacing'></div>
        </div>
      {% endfor %}
    </div>
  

    <div class='medium-6 columns'>
      {% for offer in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
              <a href='{{ offer.link_to }}'>
                <i class='{{offer.icon}}'></i>
                <h3>{{offer.title}}</h3>
                <p>{{offer.desc}}</p>
               </a>
          </div>
          <div class='four spacing'></div>
        </div>
      {% endfor %}
    </div>
  <div class=' four spacing'></div>
    </div>
</div>