---
layout: default
title: Partners
section_id: partners 

value_left:
  - icon: fas fa-brain
    desc: New way of thinking
  - icon: fas fa-hand-pointer
    desc: Hands on approach

value_right:
  - icon: fas fa-globe-americas
    desc: International collaboration
  - icon: fas fa-map-signs
    desc: A broader horizon of opportunities

testimonials:
  - quote: Die Zusammenarbeit mit den engagierten Studierenden und der Austausch mit den erfahrenen Betreuenden hat all unsere Erwartungen übertroffen, denn mit nur wenig Vorlauf beschäftigten sich die Studierenden so kreativ und mit vollem Einsatz mit unserer Problemstellung, dass wir das Projekt nun aus der Prototypenphase in die Marktreife überführen können und werden.
    author: Philipp Jungk - Gründer und Geschäftsführer bei VisionDomes
  - quote: Die interdisziplinäre Ausrichtung im Projekt war sehr gewinnbringend im Hinblick auf unsere Forschungs- und Entwicklungsarbeit. Das Konzept des Coffee Atlas leistet einen entscheidenden Beitrag zur nachhaltigen Weiterentwicklung der Kaffeeindustrie, indem sie den Erhalt der Biodiversität fördert und die globalen Herausforderungen des Klimawandels adressiert.
    author: Dr. Steffen Schwarz - Coffee Consulate
  - quote: A great opportunity to work with young, creative minds and come into contact with new and perhaps unusual ideas
    author: Dr. Anke Neuhaus - TECHNOSEUM - Landesmuseum für Technik und Arbeit in Mannheim
  - quote: The InnoTEAm has uncovered exciting new insights into possible uses for FRENVI. In the end, it didn't really become a new product, but the idea of pluggable furniture shed a whole new light on the panel, the light of a creative designer. The combination with recycled and fiber-enriched plastic connectors, which we are also looking at for our further portfolio, is also exciting. I can well imagine that we will be able to use one or two pieces of furniture for our trade fair stand. The combination with recycled and fiber-enriched plastic connectors, which our other portfolio also focuses on, is also exciting. I can well imagine that we will build one or two pieces of furniture for our exhibition stands. Many thanks to everyone! Even though the group worked independently, we as sponsors also felt well supported and looked after.
    author: Dr. Markus Götz - Head of Research and Development FRENVI GmbH

---

<div class='full parallax' style='background-image: url(images/@header/offer_industry.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Partners" tagline="Get to know our offer" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- Slogan -->
<div class="full parallax" style="text-align: center;background-image: url(images/slogan.jpg); color: #fff;">
  <div class="spacing"></div>
  <div class="row">
    <div class="large-12">
      <p class="slogan">For companies, NGOs and civil society we offer a low risk opportunity to get introduced to an
        innovation approach in their business context, to identify new business opportunities and to get introduced to a
        systematic way to bring the innovation mindset into their setting.
      </p>
    </div>
  </div>
  <div class="three spacing"></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>As a corporate sponsor</h2>
      <div class='spacing'></div>
      <p>Our offer is a <b>human-centric innovation program</b> to develop new products and services. The projects'
        problems can come from medium-sized and large companies and from a wide range of sectors (healthcare,
        telecommunications, software, transport, public institutions, etc.). At the beginning of the project, as a
        customer you will <b>formulate the problem</b> in the form of a "design brief", which we are happy to help
        constructing. The question presented in this briefing is so <b>open and broad</b> that the students will not
        develop only one solution, they will make <b>multiple iterations</b> and develop <b>various concepts and
          prototypes</b> througout the project, changing and deepening their understanding of the problem. The teams are
        made up of students from different faculties and we try to form them according to the technical requirements of
        the challenge. At the end they present an <b>executable demonstrator</b> whose quality has been <b>tested with
          regard to technological feasibility, user satisfaction and economic viability.</b>
      </p>
      <p>
        As a company you will get a <b>functional prototype</b> of an innovative product or service, <b>comprehensive
          documentation</b> of the complete journey, protoypes and findings, identification of <b>business
          opportunities</b>, insights into a systematic path to innovation (methods, culture, mindset) through
        observation of the student team, a combination of German engineering culture with the spirit of the Silicon
        Valley and being integrated into a <b>global innovation network</b>.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      <h2>As a company interested in Design Thinking</h2>
      <div class='spacing'></div>
      <p>
        Besides our long term projects, we also provide <b>short and fast paced workshops</b> to make sure your company
        gets in the <b>right mindset</b> and gets the feeling of what design thinking can be.
      </p>
      <p>
        These workshops are adjusted to your company availability and tailored to the companys <b>needs and wishes</b>.
        They can take form as a 1 or 2 day bootcamp where together we go though <b>one cycle of the Design Thinking
          Process</b>.
      </p>
      <p>
        It is the perfect way of realizing how beneficial this mindset can be when <b>driving innovation</b> and how to
        implement this mindset within your organization.

      </p>
      <div class='two spacing'></div>
    </div>
  </div>
</div>

<!-- Quotes -->
<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #ff6000; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our partners say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
              <div class='item'>
                <p class='quote'>"{{testimonial.quote}}"</p>
                <p class='author'>- {{testimonial.author}}</p>
                <div class='two spacing'></div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Call to Action-->
<div class='mod modCallToAction' style="text-align: center;">

  <div class='two spacing'></div>
  <div class="row">
    <div class='medium-12 large-12 columns'>
      <p>Interested? Contact us through our e-mail <a class='ctaLink'
          href="mailto:inno.space@hs-mannheim.de ?subject=Design Thinking - HS Mannheim"><i
            class="fas fa-envelope"></i></a></p>
    </div>

  </div>
  <div class='spacing'></div>
</div>