---
layout: noNav
title: Apply Now!
section_id: apply


testimonials:
  - quote: The ME310 program really taught me a lot about myself, team work and project management. I learned how to use my skills in an international setting, understand different cultures and reach a goal together with a corporate partner. I would recommend this course to every student, who wants to enter working life with a boost!
    author: Lia Habben, Masters in Communication Design - DTP 2021/2022
  - quote: Start with a brainstorm, continue with an idea, explore technologies, change the properties, rewrite everything, hard work until the end and then you realize, that the real fun just started.
    author: Matthias Bachstädter, Masters in Chemical and Process Engineering - CBI 2021/2022
  - quote: The first real interdisciplinary project in the degree program. A completely different challenge, not to be given a discrete task and already have the path to a solution in mind, but to first find out what the users really need. This requires a lot of social interaction and communication before the practical part and solution-oriented development can begin. It is precisely this social exchange that ultimately led to a lot of fun and to the fact that fellow students have become friends in the meantime.
    author: David Keller, Masters in Biomedical Engineering - DTP 2020/2021
---


<div class='full parallax' style='background-image: url(images/@header/apply_header.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Blended Prototyping" color="#fff" tagline="Prototype It Yourself" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<!-- Slogan -->
<!-- <div class="full parallax" style="text-align: center;background-image: url(images/slogan.jpg); color: #fff;">
    <div class="spacing"></div>
    <div class="row">
        <div class="large-12">
            <p class="slogan">Komme zum inno.space in Raum K019 <br> und lerne uns kennen!
        </div>
    </div>
    <div class="three spacing"></div>
</div> -->




<div class='full' >
    <div class='row'>
        <div class='large-12 columns'>
            <h2>Besuche die Lehrveranstaltung im SoSe 2025!</h2>
          <p>
            <ul>
				<li>Erlerne Methoden der digitalen Fabrikation</li>
				<li>Mache deine Idee durch einen digitalen und/oder physischen Prototypen erlebbar</li>
				<li>Die Lehrveranstaltung findet in einer Mischung aus online und in Präsenz an der <strong>Hochschule Mannheim</strong> (Labor) statt</li>
				<li>Du kannst <strong>ab dem 3. Semester Bachelor</strong> (Ingenieurswissenschaften, Informatik oder Gestaltung im Hauptstudium) teilnehmen</li>
				<li>Du erhältst einen <strong>Leistungsnachweis</strong></li>
           </ul>
          </p>
		<p>Hinweis: Wenn du dir die an einer anderen Hochschule erbrachten Leistungen anerkennen lassen möchtest, informiere dich bitte vor deinem Besuch der Lehrveranstaltung über Anerkennungsmöglichkeiten an deiner Heimathochschule (Ansprechperson ist in der Regel der Studiengangsleiter/die Studiengangsleiterin).</p>

        <div class='two spacing'></div>

        </div>
    </div>
    <div class='spacing'></div>
</div>


<div class='full' style="background: #f5f5f5;">
    <div class='row'>
        <div class='medium-12 columns'>
            <h2>Kurs</h2>
        </div>
    </div>
    <div class='row image-text-center'>
        <div class='medium-6 columns'>
            <a href="{{site.baseurl}}/images/KursePDP.png" class="gray lightbox-image" title="FakV"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/KursePDP.png" /></a>
            <div class='three spacing'></div>
        </div>
        <div class='medium-6 columns'>
            <div class='fadein mod ' data-delay='{{ 200 | times:forloop.index0 }}'>
                <div class='icon-text-simple' >
                    <p>
					  Im <b>Sommersemester (2024)</b> kannst du bei uns am iPDP Kurs teilnehmen.<br>
                      Der iPDP Kurs richtet sich an Master- und fortgeschrittene Bachelorstudierende der HS Mannheim.
					  Hier wirst du in einem interdisziplinären Umfeld innovative Lösungen entwickeln. Dabei wirst du immer reale Probleme nutzerzentriert bearbeiten.
                      Die Kursdauer beträgt ca. 4 Monate und du bekommst <b>10 ECTS</b> dafür angerechnet.
                    </p>

                    Unter <a href="https://inno-space.de/projects.html">"Projects"</a> kannst du dir einen Eindruck über bereits abgeschlossene Projekte verschaffen.
                </div>
                <div class='two spacing'></div>
            </div>
        </div>
    </div>
    <div class='spacing'></div>
</div>

<div class='full' style="background: #fff;">
    <div class='row'>
        <div class='medium-12 columns'>
            <h2>Kurse</h2>
        </div>
    </div>
    <div class='row image-text-center'>
        <div class='medium-6 columns'>
            <a href="{{site.baseurl}}/images/Kurse_FakV.png" class="gray lightbox-image" title="FakV"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/Kurse_FakV.png" /></a>
            <div class='three spacing'></div>
        </div>
        <div class='medium-6 columns'>
            <div class='fadein mod ' data-delay='{{ 200 | times:forloop.index0 }}'>
                <div class='icon-text-simple'>
                    <p>Im <b>Wintersemester (2024/25)</b> kannst du zwischen zwei spannenden Projekten wählen.<br>
                      ME310 und CBI A³ sind Kurse für Masterstudierende der HS Mannheim. In beiden Kursen wirst du in einem interdisziplinären Umfeld innovative Lösungen entwickeln. Dabei wirst du immer reale Probleme nutzerzentriert bearbeiten.
                      Die Kursdauer beträgt 6-9 Monate und du bekommst <b>20 ECTS</b> dafür angerechnet.
                    </p>

                    Unter <a href="https://inno-space.de/projects.html">"Projects"</a> kannst du dir einen Eindruck über bereits abgeschlossene Projekte verschaffen.
                </div>
                <div class='two spacing'></div>
            </div>
        </div>
    </div>
    <div class='spacing'></div>
</div>

<div class='full' style="background: #f5f5f5;">
<div class='row'>
    <div class='medium-12 columns'>
        <h2>Was du erwarten kannst</h2>
        <div class='two spacing'></div>
    </div>
</div>
<div class='row image-text-center'>

    <div class='medium-6 columns'>
        <div class='fadein mod ' data-delay='{{ 200 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
                <p>In jedem Fall, wirst du:
                  <ul>
                    <li>Mit Hilfe von Technologie die Zukunft ein Stück besser machen, </li>
                    <li>Ansprüche von realen Benutzer*innen erkennen lernen,</li>
                    <li>Mit den Methoden des Design Thinkings eine Vision in die Realität umsetzen</li>
                    <li>Dabei z.B.</li>
                      <ul>
                        <li>2D/3D Modelingsoftware kennenlernen,</li>
                        <li>Den Umgang mit einem 3D-Drucker und einem Lasercutter lernen,</li>
                        <li>Eigene Schaltungen entwickeln und umsetzen,</li>
                        <li>Software für Virtuelles / Digitales Prototyping verwenden,</li>
                     </ul>
                    <li>Internationale Kontakte knüpfen und neue Menschen kennen lernen</li>
                    <li>Deine Teamfähigkeit unter Beweis stellen.</li>
                 </ul>

</p>
            </div>
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='medium-6 columns'>
        <a href="{{site.baseurl}}/images/fakV.jpg" class="gray lightbox-image" title="Prototyping"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/fakV.jpg" /></a>

        <div class='three spacing'></div>
    </div>
</div>

<!-- Quotes -->
<div class='full parallax' style="background: #fff;">
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #ff6000; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Das sagen deine Kommiliton*innen:" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='full' style="background: #f   5f5f5;">
    <div class='row'>
        <div class='medium-12 columns'>
            <h2>Interesse ?</h2>
            <p></p>
            <div class='two spacing'></div>

        </div>
    </div>
    <div class='row image-text-center'>
        <div class='medium-6 columns'>
            <a href="{{site.baseurl}}/images/fakV-interesse.jpg" class="gray lightbox-image" title="Interesse?"><img class="fadeinleft" alt="" src="{{site.baseurl}}/images/fakV-interesse.jpg" /></a>

            <div class='three spacing'></div>
        </div>
        <div class='medium-6 columns'>
            <div class='fadein mod ' data-delay='{{ 200 | times:forloop.index0 }}'>
                <div class='icon-text-simple'>
                    <p> Bist du neugierig geworden und möchtest mehr erfahren? Dann schreibe uns eine E-Mail an  <a href = "mailto: inno.space@hs-mannheim.de">inno.space</a> 
						mit deinen Fragen, deiner Bewerbung oder einfach um einen Termin zu einem persönlichen Kennenlernen in unseren Räumlichkeiten aus zu machen. (Gebäude K, Raum 019)
					
                    <p> Da wir in den Projekten mit Partner Hochschulen im Ausland und externen Unternehmen/NGOs arbeiten, müssen wir die Teilnehmer*innen vor Beginn des Semesters festlegen.<br>
                        Du kannst dich ab jetzt bewerben!
                        Da die Kursgröße begrenzt ist, gilt <b>"first come first serve"</b>!
                    </p>
                </div>
                <div class='two spacing'></div>
            </div>
        </div>
    </div>
    <div class='two spacing'></div>
</div>


</div>
