---
layout: default
title: Projects
section_id: projects
works:
  - image: images/@projects/makersguild_thumbnail.jpg
    title: theMakersGuild
    link_to: projects/makersguild
    klass: 2025 PIY
    desc: PIY Program 2025/2026
  - image: images/@projects/quakella_thumbnail.jpg
    title: Quakella
    link_to: projects/quakella
    klass: 2025 PIY
    desc: PIY Program 2025/2026
  - image: images/@projects/apexkraft_thumbnail.jpg
    title: Apexcraft
    link_to: projects/apexcraft
    klass: 2025 PIY
    desc: PIY Program 2025/2026
  - image: images/@projects/liveable_thumbnail.jpg
    title: Liveable
    link_to: projects/livable
    klass: 2025 PIY
    desc: PIY Program 2025/2026
  - image: images/@projects/innoteam_thumbnail.jpg
    title: inno.TEAm
    link_to: projects/innoteam
    klass: 2025 PDP TransforMA
    desc: Corporate Sponsor - Frenvy | PDP Program 2025 / TransforMA
  - image: images/@projects/bnett_thumbnail.jpg
    title: B.NETT
    link_to: projects/bnett
    klass: 2025 PDP TransforMA
    desc: Corporate Sponsor - Technoseum | PDP Program 2025 / TransforMA
  - image: images/@projects/fanni_thumbnail.jpg
    title: FANNI
    link_to: projects/fanni
    klass: 2024/2025 CBI
    desc: CBI Program 2024/2025
  - image: images/@projects/sunny_thumbnail.jpg
    title: Sunny
    link_to: projects/sunny
    klass: 2024 PIY
    desc: PIY Program 2024/2025
  - image: images/@projects/bulbeny_thumbnail.jpg
    title: Bul Beny
    link_to: projects/bulbeny
    klass: 2024 PIY
    desc: PIY Program 2024/2025
  - image: images/@projects/bloombuddy_thumbnail.jpg
    title: Bloom Buddy
    link_to: projects/bloombuddy
    klass: 2024 PIY
    desc: PIY Program 2024/2025
  - image: images/@projects/smartpillbox_thumbnail.jpg
    title: Smart Pillbox
    link_to: projects/smartpillbox
    klass: 2024 PIY
    desc: PIY Program 2024/2025
  - image: images/@projects/custdome_thumbnail.jpg
    title: CustDome
    link_to: projects/custdome
    klass: 2024 PDP TransforMA
    desc: Corporate Sponsor - Vision Domes | Partner University - HAMK | iPDP Program 2024
  - image: images/@projects/innolight_thumbnail.jpg
    title: inno.light
    link_to: projects/innolight
    klass: 2024 PDP
    desc: Corporate Sponsor - Hylight | Partner University - HAMK | iPDP Program 2024
  - image: images/@projects/deco_thumbnail.jpg
    title: deco
    link_to: projects/deco
    klass: 2024 PDP TransforMA
    desc: Corporate Sponsor - Coffee Consulate | Partner University - HAMK | iPDP Program 2024 
  - image: images/@projects/graph3n3_thumbnail.jpg
    title: graph3n3
    link_to: projects/graph3n3
    desc: Corporate Sponsor - Megamorph | Partner University - HAMK | iPDP Program 2024
  - image: images/@projects/hamilton_thumbnail.JPG
    title: Hamilton
    link_to: projects/hamilton
    klass: 2023/2024 DTP
    desc: Corporate Sponsor - Hamilton Company | Partner University - Stanford University | ME310 
  - image: images/@projects/sustainno_thumbnail.JPG
    title: SUSTA.INNO
    link_to: projects/sustainno
    klass: 2023/2024 CBI
    desc: CBI Program 2023/2024
  - image: images/@projects/SAGE_thumbnail.JPG
    title: S.A.G.E
    link_to: projects/carl
    klass: 2023/2024 CBI
    desc: CBI Program 2023/2024
  - image: images/@projects/safespacemonitor_thumbnail.jpg
    title: SafeSpaceMonitor
    link_to: projects/safespacemonitor
    klass: 2023/2024 PIY
    desc: PIY Program 2023/2024
  - image: images/@projects/mycosonic_thumbnail.jpg
    title: Mycosonic
    link_to: projects/mycosonic
    klass: 2023/2024 PIY
    desc: PIY Program 2023/2024
  - image: images/@projects/incosy_thumbnail.jpg
    title: InCosy
    link_to: projects/incosy
    klass: 2022/2023 DTP
    desc: Corporate Sponsor - Diakonie Baden | Partner University - KIT Karlsruhe | ME310 Program 2022/2023
  - image: images/@projects/glassified_thumbnail.jpg
    title: Glassified
    link_to: projects/glassified
    klass: 2023 PDP
    desc: Glass2Mass | PDP Program 2023
  - image: images/@projects/scentsationals_thumbnail.jpg
    title: ScentSational
    link_to: projects/scentsational
    klass: 2023 PDP
    desc: Sniff-Drone | PDP Program 2023
  - image: images/@projects/freeathletics_thumbnail.jpg
    title: FreeAthletics
    link_to: projects/freeathletics
    klass: 2023 PDP
    desc: calevaLab | PDP Program 2023
  - image: images/@projects/ttt_thumbnail.png
    title: Think Tank Titans
    link_to: projects/ttt
    klass: 2023 PDP
    desc: HITA e.V. | Local PDP Program 2023
  - image: images/@projects/mana_thumbnail.png
    title: MANA
    link_to: projects/mana
    klass: 2023 PDP
    desc: HITA e.V. | Local PDP Program 2023
  - image: images/@projects/bedspaceghana_thumbnail.png
    title: BedSpace Ghana
    link_to: projects/bedspaceghana
    klass: 2023 PDP
    desc: HITA e.V. | Local PDP Program 2023
  - image: images/@projects/trinarybits_thumbnail.png
    title: Trinary Bits
    link_to: projects/trinarybits
    klass: 2022/2023 CBI
    desc: CBI Program 2022/2023
  - image: images/@projects/paludisa_thumbnail.png
    title: PaLu.DiSa
    link_to: projects/paludisa
    klass: 2022/2023 CBI
    desc: CBI Program 2022/2023
  - image: images/@projects/tartutata_thumbnail.png
    title: tartutata
    link_to: projects/tartutata
    klass: 2022 GDIP
    desc: Contagt  | Partner University - University of Tartu | GDIP Program 2021 
  - image: images/@projects/kolo_thumbnail.png
    title: kolo
    link_to: projects/kolo
    klass: 2022 GDIP
    desc: Stadt Mannheim | Partner University - University of Tartu | GDIP Program 2021 
  - image: images/@projects/connected_thumbnail.jpg
    title: connected
    link_to: projects/connected
    klass: 2022 PDP
    desc: Corporate Sponsor -  Valtec Mobility GmbH | Partner University - HAMK | PDP Program 2022
  - image: images/@projects/workerbee_thumbnail.jpg
    title: WorkerBee
    link_to: projects/workerbee
    klass: 2022 PDP
    desc: Corporate Sponsor -  WEBER Packaging GmbH | Partner University - HAMK | PDP Program 2022
  - image: images/@projects/medical_maniacs_thumbnail.jpg
    title: MedicalManiacs
    link_to: projects/medicalmaniacs
    klass: 2022 PDP
    desc: Corporate Sponsor - ECsens | Partner University - HAMK | PDP Program 2022
  - image: images/@projects/medicas_thumbnail.png
    title: Medicas
    link_to: projects/medicas
    klass: 2021/2022 DTP
    desc: Corporate Sponsor - Medicas GmbH | Partner University - d.school Paris | ME310 Program 2021/2022
  - image: images/@projects/GTG_thumbnail.png
    title: GTG
    link_to: projects/gtg
    klass: 2021/2022 CBI
    desc: CBI Program 2021/2022
  - image: images/@projects/ekopais_thumbnail.png
    title: ekopaís
    link_to: projects/ekopais
    klass: 2021/2022 CBI
    desc: CBI Program 2021/2022
  - image: images/@projects/Stadt_Mannheim_thumbnail.jpg
    title: Community Kitchen
    link_to: projects/communitykitchen
    klass: 2021/2022 GDIP
    desc: Corporate Sponsor - City of Mannheim | Partner University - University of Tartu | GDIP Program 2021/2022
  - image: images/@projects/Strategy_Compass_thumbnail.jpg
    title: Kaleidoscope
    link_to: projects/kaleidoscope
    klass: 2021/2022 GDIP
    desc: Corporate Sponsor - Strategy Compass | Partner University - University of Tartu | GDIP Program 2021/2022
  - image: images/@projects/greenbox_thumbnail.jpg
    title: Greenbox
    link_to: projects/greenbox
    klass: 2021 CBM
    desc: CBM Program 2021/2022
  - image: images/@projects/benthebin_thumbnail.jpg
    title: Ben the Bin
    link_to: projects/benthebin
    klass: 2021 CBM
    desc: CBM Program 2021/2022
  - image: images/@projects/auroma_thumbnail.JPG
    title: Coffee Garden
    link_to: projects/coffeegarden
    klass: 2021 PDP
    desc: Corporate Sponsor - Coffee Consulate | Partner University - HAMK | PDP Program 2021 
  - image: images/@projects/tastebud_thumbnail.png
    title: TasteBud
    link_to: projects/tastebud
    klass: 2021 GDIP
    desc: Corporate Sponsor - The Coffee Store | Partner University - University of Tartu | GDIP Program 2021 
  - image: images/@projects/cleveron_thumbnail.png
    title: Cleveron
    link_to: projects/cleveron
    klass: 2021 GDIP
    desc: Corporate Sponsor - Cleveron | Partner University - University of Tartu | GDIP Program 2021
  - image: images/@projects/accessma_thumbnail.png
    title: Access Mannheim
    link_to: projects/accessma
    klass: 2021 GDIP
    desc: Sponsor - City of Mannheim | Partner University - University of Tartu | GDIP Program 2021
  - image: images/@projects/tartusmart_thumbnail.png
    title: Tartu Smart City
    link_to: projects/tartusmart
    klass: 2021 GDIP
    desc: Sponsor - City of Tartu | Partner University - University of Tartu | GDIP Program 2021
  - image: images/@projects/cirrus_thumbnail.png
    title: Cirrus
    link_to: projects/cirrus
    klass: 2020/2021 DTP
    desc: Corporate Sponsor - Hansgrohe | Partner University - Swinburne University of Technology | ME310 Program 2020/2021
  - image: images/@projects/clash_thumbnail.jpg
    title: CLASH
    link_to: projects/clash
    klass: 2019/2020 CBI
    desc: CBI Program 2019/2020
  - image: images/@projects/bee_thumbnail.jpg
    link_to: projects/bee
    title: Bee
    klass: 2019/2020 CBI
    desc: CBI Program 2019/2020
  - image: images/@projects/oceanlog_thumbnail.jpg
    title: oceanlog
    link_to: projects/oceanlog
    klass: 2019/2020 DTP
    desc: Corporate Sponsor - Maersk Drilling | Partner University - Stanford University | ME310 Program 2019/2020
  - image: images/@projects/vidagesund_thumbnail.jpg
    title: VidaGesund
    link_to: projects/vidagesund
    klass: 2019/2020 GDIP
    desc: Corporate Sponsor - VidaWell | Partner University - University of Tartu | GDIP Program 2019/2020
  - image: images/@projects/leeroy_thumbnail.jpg
    title: Leeroy
    link_to: projects/leeroy
    klass: 2019/2020 GDIP
    desc: Sponsor - City of Tartu | Partner University - University of Tartu | GDIP Program 2019/2020
  - image: images/@projects/hartmann_thumbnail.png
    title: CareSense
    link_to: projects/hartmann
    klass: 2020/2021 GDIP
    desc: Corporate Sponsor - Hartmann |Partner University - University of Tartu | GDIP Program 2020/2021 
  - image: images/@projects/afb_thumbnail.png
    title: AfB
    link_to: projects/afb
    klass: 2020/2021 GDIP
    desc: Corporate Sponsor - AfB |Partner University - University of Tartu | GDIP Program 2020/2021
  - image: images/@projects/tartu_thumbnail.png
    title: Tartu-2024
    link_to: projects/tartu
    klass: 2020/2021 GDIP
    desc: Sponsor - City of Tartu | Partner University - University of Tartu | GDIP Program 2020/2021
  - image: images/@projects/udi_thumbnail.JPG
    title: Healthpost Aid & Patient Diary
    link_to: projects/udi
    klass: 2019/2020 UDI
    desc: Corporate Sponsor - HITA e.V. | UDI Program 2019/2020
  - image: images/@projects/reshelf_thumbnail.jpg
    title: ReShelf
    link_to: projects/reshelf
    klass: 2018/2019 SQUAD
    desc: Corporate Sponsor - CIM do Tâmega e Sousa | Partner University - Porto Polytechnic | SQUAD Program 2018/2019
  - image: images/@projects/fampedia_thumbnail.jpg
    title: Fampedia
    link_to: projects/fampedia
    klass: 2018/2019 SQUAD
    desc: Corporate Sponsor - SUSI & James | Partner University - Porto Polytechnic | SQUAD Program 2018/2019
  - image: images/@projects/quata_thumbnail.jpg
    title: ReMY
    link_to: projects/remy
    klass: 2018/2019 CBI
    desc: CBI Program 2018/2019
  - image: images/@projects/safespace_thumbnail.jpg
    title: Safe Space
    link_to: projects/safespace
    klass: 2018/2019 DTP
    desc: DTP Program 2018/2019
  - image: images/@projects/halexa_thumbnail.JPG
    title: Halexa
    link_to: projects/halexa
    klass: 2017/2018 CBM
    desc: CBM Program 2017/2018
  - image: images/@projects/revo_thumbnail.jpg
    title: revo
    link_to: projects/revo
    klass: 2017/2018 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2017/2018
  - image: images/@projects/diabee_thumbnail.jpg
    title: DiaBee
    link_to: projects/diabee
    klass: 2017/2018 DTP
    desc: Corporate Sponsor - Roche | Partner University - Aalto University | DTP Program 2017/2018
  - image: images/@projects/blooma_thumbnail.jpg
    title: BLOOMA
    link_to: projects/blooma
    klass: 2016/2017 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2016/2017
  - image: images/@projects/stars_thumbnail.JPG
    title: stars
    link_to: projects/stars
    klass: 2015/2016 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2015/2016
---


<div class='full parallax' style='background-image: url(images/@header/projects_headline.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our projects" tagline="Have a look at what we have done" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
<!--
          <li>
            <a data-cat='2015/2016' href='#'>2015/2016</a>
          </li>
          <li>
            <a data-cat='2016/2017' href='#'>2016/2017</a>
          </li>
          <li>
            <a data-cat='2017/2018' href='#'>2017/2018</a>
          </li>
          <li>
            <a data-cat="2018/2019" href="#">2018/2019</a>
          </li>
          <li>
            <a data-cat="2019/2020" href="#">2019/2020</a>
          </li>
-->
	      <li>
            <a data-cat='PDP' href='#'>PDP</a>
          </li>
          <li>
            <a data-cat='DTP' href='#'>DTP-ME310</a>
          </li>
          <li>
            <a data-cat='SQUAD' href='#'>SQUAD</a>
          </li>
          <li>
            <a data-cat='CBI' href='#'>DTP-CBI</a>
          </li>
          <li>
            <a data-cat='CBM' href='#'>CBM</a>
          </li>
          <li>
            <a data-cat='UDI' href='#'>UDI</a>
          </li>
	   <!--      <li>
            <a data-cat='ME310' href='#'>ME310</a>
          </li>
          -->
		       <li>
            <a data-cat='GDIP' href='#'>GDIP</a>
          </li>
          <li>
            <a data-cat='PIY' href='#'>PIY</a>
          </li>
		  <li>
            <a data-cat='TransforMA' href='#'>TransforMA</a>
          </li>
          <!--
            <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>-->
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>


<!--
    
-->
