---
layout: default
title: Students
section_id: students

---
<div class='full parallax' style='background-image: url(images/@header/dtp-bg.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Students" tagline="Get to know our courses" color="#fff" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>


<div class='full'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Master's students" color="#222" %}
            <div class='spacing'></div>
            <h3>DTP</h3>
            <p>With the increasing technical possibilities and the growing competition of globally operating companies, the importance of innovation also grows in order to survive in competition. Design Thinking is a promising approach to achieve innovation. This is the collection of practices and methods of the design and innovation process taught at Stanford, which in many elements reflects the extraordinary innovation culture in Silicon Valley. Design Thinking can be used to design products and services and is based on collaborative creativity in multidisciplinary teams.
            </p>
            <p>
                In the Design Thinking Project at the Mannheim University of Applied Sciences, master students work on questions from business and society using the methods of design thinking. The students work in small teams and are accompanied by experienced coaches. The teams consist of students from different disciplines of the HS Mannheim and another (foreign) university, common language is English. Through close collaboration with project partners from business and society and the high practical relevance of the questions, the participants learn how to develop innovative products and service concepts in a team. In this way, they are prepared for the innovation tasks of tomorrow.
            </p>
            <p>
                The course is aimed at master students from all faculties of the university and lasts two semesters. At the end of the course, the students present their new product concepts in the form of executable demonstrators in a presentation and exhibition. The course of the project is based on that of Stanford University (ME310 course in Stanford, SUGAR Network), where this two-semester course has been taught for over 30 years.
            </p>
            <p>
                The Mannheim University of Applied Sciences has already successfully completed several projects in the past three years. Details on the questions and the developed solutions can be found here.
            </p>
            <h4>
                SHORT VERSION
            </h4>
            <ul>
                <li>Open for master students of the Mannheim University of Applied Sciences</li>
                <li>Duration: From the end of September to the beginning of June</li>
                <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
                <li> Place: In the new inno.space of the university (building K, room 019)</li>
            </ul>

            <h4>PROCEDURE</h4>
            <p>
                The course starts at the end of September and ends in mid-June. There are fixed times when you meet in a team with the supervising professors and coaches. Workshops are held here and intermediate results are discussed. In addition, you will arrange common times for the project work in the team according to your individual availability.
            </p>
            <p>
                The project requires a strong commitment and promises an intensive learning experience. Especially in the last quarter you spend a lot of time with the project. Within the framework of cooperation with the client and a partner university, various trips lasting several days are connected.
            </p>
            <p>
                Interested in taking part? <a href='#application'>Here</a> you can find more information about the application procedure.

            </p>
            <div class='two spacing'></div>

        </div>
    </div>
    <div class='spacing'></div>
</div>
<div class='full no-padding' style='background: #f39200; text-align: center;'>
    <div class='two spacing'></div>
    <div class='mod modCallToAction'>
        <div class='row'>
            <div class='medium-12 large-12 columns'>
                <p> Interested in taking part? <a href='#application' style="color:#fff">Here</a> you can find more information about the application procedure.</p>
            </div>

        </div>
    </div>
    <div class='spacing'></div>
</div>


<div class='full' style="background: #f5f5f5;">
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Bachelor's students" color="#222" %}
            <div class='spacing'></div>
            <h3>SQUAD</h3>
            <p>SQUAD is a new offer of the university for students of computer science with interest in international cooperation. Inspired by the agile approach of Spotify, interdisciplinary teams work on complex questions of digital innovation for and with companies. At the Mannheim University of Applied Sciences, bachelor students of computer science work together with two international partner universities from the Design Factory Global Network (http://dfgn.org) on the problems. The partner universities contribute their competence in business and design. The students form interdisciplinary, cross-functional teams between the different universities.


            </p>
            <p>
                After an intensive introductory week into the methodology at the beginning of the winter semester, meetings take place in January and May of the following year, for which the teams meet for one week at each university. In the periods in between, the team voting takes place via telephone conferences. During the course of the project, various functional prototypes will be created based on the approach of IDEO. At the end of the project, a proof-of-concept prototype is presented to the client, which fulfils the given problem.


            </p>
            <p>
                During this course students learn how to deal with complex and open questions in their own discipline. They learn to make decisions in related areas of experience design, service design and interaction design and acquire the skills to cope in a changing and complex working environment. They will deal with current digital technologies and understand their relevance in the context of companies. They use project management methods and gain an understanding of strategic decisions in the business environment.

            </p>

            <h4>
                SHORT VERSION
            </h4>
            <ul>
                <li>Open for students of computer science (IB, IMB, UIB); 6th/7th semester</li>
                <li>Duration: From the end of September to the beginning of June</li>
                <li>Two optional modules in two consecutive semesters (WS & SS)</li>
                <li>ECTS: 5 ECTS per semester. 10 ECTS for both semesters. The workload is approx. 1 day a week.</li>
                <li> Place: In the new inno.space of the university (building K, room 019)</li>
            </ul>

            <h4>PROCEDURE</h4>
            <p>
                The course starts at the end of September and ends at the end of May with the final presentation. There are fixed times when you meet in a team with the supervising professors and coaches. Workshops are held here and intermediate results are discussed. In addition, you will arrange common times for the project work in the team according to your individual availability. Since the course ends in May in the second semester, courses also take place during the semester break, but you will be finished well before the end of the semester.
            </p>
            <p>
                The project requires a strong commitment for two semesters and promises an intensive, international learning experience. Within the framework of the cooperation with the client and two partner universities, various trips are connected.

            </p>
            <p>
                Interested in taking part? <a href='#application'>Here</a> you can find more information about the application procedure.

            </p>

            <div class='two spacing'></div>

        </div>
    </div>
    <div class='mod modCallToAction' style="text-align: center;">

        <div class='two spacing'></div>
        <div class='row'>

            <div class='medium-12 large-12 columns'>
                <p> Interested in taking part? <a href='#application' style="color:#fff">Here</a> you can find more information about the application procedure.</p>
            </div>

        </div>
        <div class='spacing'></div>
    </div>
    
    <div class='two spacing'></div>
    <div class='row'>
        <div class='large-12 columns'>
            <h3>CBM</h3>
            <p>With the increasing technical possibilities and the growing competition of globally operating companies, the importance of innovation also grows in order to survive in competition. Design Thinking is a promising approach to achieve innovation. This is the collection of practices and methods of the design and innovation process taught at Stanford, which in many elements reflects the extraordinary innovation culture in Silicon Valley. Design Thinking can be used to design products and services and is based on collaborative creativity in multidisciplinary teams.
            </p>
            <p>
                In the Design Thinking Project at the Mannheim University of Applied Sciences, master students work on questions from business and society using the methods of design thinking. The students work in small teams and are accompanied by experienced coaches. The teams consist of students from different disciplines of the HS Mannheim and another (foreign) university, common language is English. Through close collaboration with project partners from business and society and the high practical relevance of the questions, the participants learn how to develop innovative products and service concepts in a team. In this way, they are prepared for the innovation tasks of tomorrow.
            </p>
            <p>
                The course is aimed at master students from all faculties of the university and lasts two semesters. At the end of the course, the students present their new product concepts in the form of executable demonstrators in a presentation and exhibition. The course of the project is based on that of Stanford University (ME310 course in Stanford, SUGAR Network), where this two-semester course has been taught for over 30 years.
            </p>
            <p>
                The Mannheim University of Applied Sciences has already successfully completed several projects in the past three years. Details on the questions and the developed solutions can be found here.
            </p>
            <div class='two spacing'></div>

        </div>
    </div>
    <div class='mod modCallToAction' style="text-align: center;">

        <div class='two spacing'></div>
        <div class='row'>

            <div class='medium-12 large-12 columns'>
                <p> Interested in taking part? <a href='#application' style="color:#fff">Here</a> you can find more information about the application procedure.</p>
            </div>

        </div>
        <div class='spacing'></div>
    </div>
</div>

<div class='full' id="application">
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Application" color="#222" %}
            <div class='spacing'></div>
            <p>The large courses (DTP, SQUAD) always start at the beginning of the winter semester and comprise two semesters. For the application we expect a one-page CV as well as a half-page letter of motivation in English. Please send your application by email to inno.space(at)hs-mannheim.de. Please also note the name of the course.
            </p>
            <ul>
                <li>
                    Our Innovation Course for Master Students (DTP) is open to students of all faculties. The crediting of the ECTS is done by the faculties and has to be clarified with the heads of the faculties. Applications are accepted all year round.</li>
                <li>
                    The Innovation Course for Bachelor Students (SQUAD) is open to students of the Faculty of Computer Science who are in their 6th or 7th semester. We also accept applications all year round.
                </li>
            </ul>

            <p> If you have further questions about the course, please also contact inno.space(at)hs-mannheim.de.</p>

            <div class='two spacing'></div>

        </div>
    </div>
    <div class='spacing'></div>
</div>