---
layout: default
title: Students
section_id: students

value_left:
  - icon: fas fa-brain
    desc: New way of thinking
  - icon: fas fa-hand-pointer
    desc: Hands on approach

value_right:
  - icon: fas fa-globe-americas
    desc: International collaboration
  - icon: fas fa-map-signs
    desc: A broader horizon of opportunities

---
<div class='full parallax' style='background-image: url(images/@header/offer_students.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Students" tagline="Get to know our courses" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Our courses</h2>
      <div class='spacing'></div>
      <h3>DTP</h3>
      <p>In the Design Thinking Project (DTP), master students work on questions from <b>business and society</b> using the methods of <b>design thinking</b>. The students work in <b>international teams</b> with 6-9 elements and are accompanied by
        experienced coaches. The teams consist of students from different fields of discipline of the HS Mannheim and members from another international university, which makes English the common language. Through <b>close collaboration</b> with the
        corporate partner and the <b>high practical relevance of the challenges</b>, the teams learn how to develop innovative products and service concepts in a team. In this way, they are prepared for the innovation tasks of tomorrow.
      </p>
      <p>
        The course is aimed to <b>master students from all faculties</b> of the university and lasts <b>two semesters</b>. At the end of the course, the students present their concept in the form of <b>executable prototype</b> in a presentation and
        exhibition. The project is <b>based on the course taught at Stanford University</b> (ME310 course in Stanford, SUGAR Network), where this two-semester course has been taught for over 30 years.
      </p>
      <p>
        The Mannheim University of Applied Sciences has already successfully completed several projects in the past three years. You can find more about them on our past projects page.
      </p>

      <ul>
        <li>Open for master students of the Mannheim University of Applied Sciences</li>
        <li>Duration: From the end of September to the beginning of June</li>
        <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
        <li>Place: In the new inno.space of the university (building K, room 019)</li>
      </ul>

      <h4>PROCEDURE</h4>
      <p>
        The course starts at the end of September and ends in mid-June. There are fixed times when you meet as a team with the supervising professors and coaches. Workshops are held here and intermediate results are discussed. In addition, you will
        arrange common times for the project work in the team according to your individual availability.
      </p>
      <p>
        The project requires a <b>strong commitment</b> and promises an intensive learning experience. Especially in the last quarter you spend a lot of time with the project. Within the framework of cooperation with the client and a partner
        university, various trips lasting several days are connected.
      </p>

      <div class='two spacing'></div>

    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
      <h3>CBI</h3>
      <p>
        The Challenged Based Innovation (CBI) A3 program brings <b>CERN technologies</b> and the <b>UN Sustainable Development Goals (SDG)</b> together. For the course of 7 months, students will design applications relevant to <b>future scenarios</b>
        for 2020-2030.
      </p>
      <p>
        CERN, being the European Organization for Nuclear Research, develops a numerous amount of complex technologies on their conquest of finding out the answer for fundamental questions of humankind – Where do we come from? Where are we going?
        What is the universe made of? - however, these technologies are being used solely on their advanced machinery and research. CBI aims to <b>combine real life problems with these technologies</b> and give them a societal application. Closing
        the bridge between super science and society.
      </p>
      <p>
        In this course, students will work within a multidisciplinary local team while having an international “buddy team”. This means that teams can help each other and share knowledge, but they work independently. During the course, teams will
        get to <b>explore the problems from their local context, CERN technology and spend 2 weeks at CERN</b> in Switzerland to get more insights from researchers and meet all the other teams that are spread globally. After researching, the team
        has until January to to come to a common vision and a path they want to follow. After that, students will be provided with materials and activities to help them better understand the problem, CERN technologies and create predictions for the
        scenarios of 2020, 2025 and 2030. The project is finalized in the end of April with a proof of concept prototype and a presentation.

      </p>
      <p>
        <ul>
          <li>Open for master students of the Mannheim University of Applied Sciences</li>
          <li>Duration: From the end of September to the end of April</li>
          <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
          <li>Place: In the new inno.space of the university (building K, room 019)</li>
        </ul>

        <h4>PROCEDURE</h4>
        <p>
          The course starts at the end of September and ends at the end of April with the final presentation. There are fixed times when you meet in a team with the supervising professors and coaches. In addition, you will arrange common times for
          the project work in the team according to your individual availability. Since the course ends in April in the second semester, courses also take place during the semester break, but you will be finished well before the end of the semester.
          The project requires a strong commitment for two semesters and promises an intensive, challenging learning experience.

        </p>

        <div class='two spacing'></div>

    </div>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
      <h3>SQUAD</h3>
      <p>
        SQUAD is our new offer for students of <b>computer science</b> with interest in <b>international cooperation</b>. Inspired by the agile approach of Spotify, interdisciplinary teams work on <b>complex questions of digital innovation</b> for
        and with companies. Bachelor students of computer science have the chance to work together with one or more international partner universities from the Design Factory Global Network (http://dfgn.org) on a problem given by a corporate
        sponsor. The partner universities contribute their competence in business and design and all together, the students form <b>interdisciplinary, cross-functional teams</b> between the different universities.
      </p>
      <p>
        After an intensive introductory week into the methodology at the beginning of the winter semester, meetings take place in February and May of the following year, for which the teams meet for one week at each university. In the periods in
        between, the team works remotely. During the course of the project, various <b>functional prototypes</b> will be created based on the approach of IDEO and at the end of the project, a proof-of-concept prototype is presented to the client.
      </p>
      <p>
        During this course, students learn how to deal with <b>complex and open questions</b> in their own discipline. They learn to make decisions in related areas of experience design, service design and interaction design and acquire the skills
        to cope in a changing and complex working environment. They will deal with current digital technologies and understand their relevance in the context of companies. They use project management methods and gain an understanding of strategic
        decisions in the business environment.

      </p>

      <ul>
        <li>Open for students of computer science (IB, IMB, UIB); 6th/7th semester</li>
        <li>Duration: From the end of September to the beginning of June</li>
        <li>Two modules in two consecutive semesters (WS & SS)</li>
        <li>ECTS: 5 ECTS per semester. 10 ECTS for both semesters. The workload is approx. 1 day a week.</li>
        <li>Place: In the new inno.space of the university (building K, room 019)</li>
      </ul>

      <h4>PROCEDURE</h4>
      <p>
        The course starts at the end of September and ends at the end of May with the final presentation. There are fixed times when you meet in a team with the supervising professors and coaches. Workshops are held here and intermediate results are
        discussed. In addition, you will arrange common times for the project work in the team according to your individual availability. Since the course ends in May in the second semester, courses also take place during the semester break, but you
        will be finished well before the end of the semester.
      </p>
      <p>
        The project requires a strong commitment for two semesters and promises an intensive, international learning experience. Within the framework of the cooperation with the client and two partner universities, various trips are connected.

      </p>

      <div class='two spacing'></div>

    </div>
  </div>

  <div class='two spacing'></div>


</div>
<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>What's in it for you?</h3>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for value in page.value_left %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <p>{{value.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for value in page.value_right %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <p>{{value.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
  <div class='mod modCallToAction' style="text-align: center;">

    <div class='two spacing'></div>
    <div class="row">
      <div class='medium-12 large-12 columns'>
        <p>Interested in taking part? Applications are now open! Contact us through our e-mail <a class='ctaLink' href="mailto:inno.space@hs-mannheim.de ?subject=Design Thinking - HS Mannheim"><i class="fas fa-envelope"></i></a></p>
      </div>
    </div>
    <div class='spacing'></div>
  </div>


<!--
<div class='full' id="application">
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Application" color="#222" %}
            <div class='spacing'></div>
            <p>The large courses (DTP, SQUAD) always start at the beginning of the winter semester and comprise two semesters. For the application we expect a one-page CV as well as a half-page letter of motivation in English. Please send your application by email to inno.space(at)hs-mannheim.de. Please also note the name of the course.
            </p>
            <ul>
                <li>
                    Our Innovation Course for Master Students (DTP) is open to students of all faculties. The crediting of the ECTS is done by the faculties and has to be clarified with the heads of the faculties. Applications are accepted all year round.</li>
                <li>
                    The Innovation Course for Bachelor Students (SQUAD) is open to students of the Faculty of Computer Science who are in their 6th or 7th semester. We also accept applications all year round.
                </li>
            </ul>

            <p> If you have further questions about the course, please also contact inno.space(at)hs-mannheim.de.</p>

            <div class='two spacing'></div>

        </div>
    </div>
    <div class='spacing'></div>
</div>
-->
